<app-spinner *ngIf="isLoading"></app-spinner>
<div class="wow-form-wrapper" *ngIf="!isLoading">
  <form
    class="wow-form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <div class="wow-form__form-group">
      <label for="login" class="wow-form__control-label">Account Email *</label>
      <input type="email" formControlName="email" class="wow-form__form-control" id="login" autocomplete="off">
    </div>
    <div class="wow-form__form-group">
      <label for="password" class="wow-form__control-label">Password *</label>
      <input type="password" formControlName="password" class="wow-form__form-control" id="password">
    </div>
    <div class="wow-form__form-group">
      <app-wow-btn></app-wow-btn>
    </div>
  </form>
</div>
<app-wow-modal></app-wow-modal>

