@import "utils/variables";

.new-guide {
  padding-top: 10rem;
}

.guide-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .guide-form__field {

  }

  &__field {
    font-size: $font-size-primary;
    width: 25%;

    @media only screen and (max-width: $bp-large) {
      width: 70%;
    }

    &--macro {
      width: 50%;
    }
  }

  &__select-option {
    line-height: .9em !important;
    height: 2em !important;

    @media only screen and (max-width: $bp-large) {
      line-height: 1.2em !important;
      height: 3em !important;;
    }
  }

  &__textarea, &__input {
    color: white !important;
  }

  &__submit {
    width: 25%;
    padding: 3rem;

    @media only screen and (max-width: $bp-small) {
      width: 50%;
    }
  }

  &__group {
    width: 80%;
    position: relative;
    padding: 5rem;
    border: 2px solid gray;
    border-radius: 2.5rem;

    @media only screen and (max-width: $bp-medium) {
      width: 93%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }

  &__group-title {
    position: absolute;
    top: -3rem;
    background-color: black;
    padding: 0 4rem;
  }

  &__group-content {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &--column {
      flex-direction: column;
    }
  }

  &__group-content-inner-wrapper {
    width: 100%;
    display: flex;

  }

  &__group-content-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__macro-button {
    font-size: $font-size-primary;
    line-height: 25px !important;
  }
}
