@font-face {
  font-family: 'LifeCraftRegular';
  font-style: normal;
  font-weight: normal;
  src: local('LifeCraftRegular'), url('../assets/fonts/LifeCraft_Font.woff') format('woff');
}
@font-face {
  font-family:"Burning Wrath";
  font-style:normal;
  font-weight:normal;
  src: url("../assets/fonts/b_wrath.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  overflow-x: hidden;
  font-family: $font-primary;
}
