<section class="guides-section">
  <app-classes-menu [classesData]="classesData" (classIconClicked)="loadSpecificClassGuides($event)"></app-classes-menu>

  <div *ngIf="selectedClass.classData; else selectClassTemplate" class="specs-menu">
    <div *ngFor="let spec of selectedClass.classData.specs" class="specs-menu__spec-block">
      <div class="specs-menu__spec-icon-block">
        <img [src]="spec.icon_link" alt="">
      </div>
      <p class="specs-menu__spec-name">{{ spec.name }}</p>
    </div>
  </div>

  <ng-template #selectClassTemplate>
    <div>
      <p>Select a specific Class</p>
    </div>
  </ng-template>
  <router-outlet></router-outlet>
</section>
