@import "utils/variables";
.wow-item {
  font-size: 1.2rem;
  font-family: $font-primary;
  font-weight: 700;
  padding: 1rem;

  &__icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 6px;


    &-border {
      position: absolute;
      top: -4px;
      left: -4px;
      width: 26px;
      height: 26px;
      background-image: url("/assets/img/border.png");
    }
  }

  &__link {
    text-decoration: none;
    vertical-align: middle;
  }
}
