@keyframes text-pop-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}

@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }

  50% {
    filter: blur(6px);
  }

  100% {
    filter: blur(12px);
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    visibility: hidden;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    visibility: visible;
  }
}
