@import "variables";

@mixin orange-font-styling {
  letter-spacing: 3px;
  -webkit-text-stroke: 1px rgba(228,130,3,1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(3px 4px 1px #000000);
}

@mixin lich-king-font {
  font-weight: 400;
  color: #f6f6f6;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 15px $color-bg-primary, 0 0 10px $color-bg-primary, 0 0 10px $color-bg-primary;
}

@mixin lk-login-screen-font-style {
  font-family: $font-quaternary;
  text-shadow: -2px 0px 0 #000300, 2px 0px 0 #000300, 0px 2px 0 #000300, 0px -2px 0 #000300;
  color: #F2CE38;
}

@mixin lk-login-screen-input-style {
  border-radius: 10px;
  border: 5px solid;
  border-image: url('/assets/img/border-form-controls.png') 3 stretch;
  background-color: rgba(8, 38, 49, 0.6);
  padding: 0.6rem;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  caret-color: white;
  box-shadow: 0 0 10px 0 black;
}
