//COLORS
$color-bg-primary: #027ac8;
$color-text-primary: white;
$color-text-secondary: #a1a1a1;

//FONTS
$font-primary: 'Cinzel', sans-serif;
$font-secondary: 'LifeCraftRegular', serif;
$font-tertiary: 'Burning Wrath', serif;
$font-quaternary: 'Friz Quadrata Std Medium', serif;
//$font-secondary: 'Roboto', sans-serif;
//$font-tertiary: 'Lora', serif;

//FONT SIZES
$font-size-primary: 1.6rem;
$font-size-secondary: 1.4rem;
$font-size-tertiary: 1.2rem;
