//COLORS
$color-bg-primary: #027ac8;

//FONTS
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'LifeCraftRegular', serif;
$font-tertiary: 'Burning Wrath', serif;
$font-quaternary: 'Friz Quadrata Std Medium', serif;
//$font-secondary: 'Roboto', sans-serif;
//$font-tertiary: 'Lora', serif;

//FONT SIZES
$font-size-primary: 2rem;
$font-size-secondary: 1.8rem;
$font-size-tertiary: 1.6rem;
