@import "utils/variables";

.log-reg {
  height: 100vh;
  position: relative;
  box-shadow: inset 0 40px 97px 111px black;
  z-index: 1;

  &__bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 40px 97px 111px black;

    @media only screen and (max-width: $bp-small) {
      box-shadow: inset 0 61px 37px 40px
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 2;
  }

  &__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
  }
}
