@import "src/sass/utils/variables";
@import "src/sass/utils/mixins";

.wow-btn {
  @include lk-login-screen-font-style;

  padding: 0.4rem 0;
  position: relative;
  background: linear-gradient(to bottom, #296a9f, #216ea2, #296a9f);
  border: 5px solid;
  border-image: url('/assets/img/border-form-controls.png') 3 stretch;
  font-size: $font-size-secondary;
  box-shadow: inset 0 0 10px 1px black;
  cursor: pointer;
  border-radius: 7px;

  @media only screen and (max-width: $bp-large) {
    border: 3px solid;
    border-image: url('/assets/img/border-form-controls.png') 3 stretch;
    letter-spacing: 2px;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 0.9rem 0;
  }

  &__border {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    border: 1px solid black;
    box-shadow: 0 0 1px 1px black;
    border-radius: 4px;

    @media only screen and (max-width: $bp-large) {
      border: none;
    }
  }

  &:hover {
    background: linear-gradient(to bottom, #2a81b7, #1cabef, #2a81b7);
  }

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    box-shadow: inset 0 3px 10px 1px black;
  }

  width: 100%;

  &--red {
    background: linear-gradient(to bottom, #540606, #6e0200, #4a0301);


    &:hover {
      background: linear-gradient(to bottom, #540606, #a60200, #4a0301);
      color: $color-text-primary;
    }
  }

  &:disabled {
    background: gray;

    &:hover {
      background: gray;
      color: $color-text-tertiary;
    }

    &:active {
      outline: none;
      box-shadow: inset 0 0 10px 1px black;
    }

    cursor: not-allowed;
  }

}


