@import "utils/variables";
@import "utils/mixins";

.guide {
  padding: 5rem 0;

  &__author-block {
    padding: 4rem 0;
  }

  &__author-text {
    font-style: italic;
    font-size: $font-size-primary;
    color: $color-text-primary;
  }

  &__author-nickname {
    font-size: $font-size-primary;
    font-family: $font-primary;
    @include orange-font-styling--text();
    @include orange-font-styling-hovered();
    text-decoration: none;
    padding-left: 10px;
  }

  &__heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heading-image {
    width: 6rem;
    height: 6rem;

  }

  &__main {
    padding: 5rem 0;
  }

  &__tab-group {
    background: black;
  }

  &__tab {
    color: $color-text-primary;
  }

  &__card {
    background: rgba(0, 0, 0, 0.91);
    padding: 0;
    overflow: hidden;
  }

  &__card-header {
    padding: 3rem;
    justify-content: center;
    align-items: center;
  }

  &__card-header-image {
    background-position: center;
    width: 6rem;
    height: 6rem;

    @media only screen and (max-width: $bp-large) {
      width: 5rem;
      height: 5rem;
    }
  }

  &__card-subtitle {
    margin-bottom: 0;
  }

  &__card-content {
    padding: 3rem;

  }
  &__card-content-info-wrapper {
    padding: 2rem 0;
  }

  &__card-content-info-title {
    font-size: $font-size-primary;
    font-weight: 700;
    font-family: $font-primary;
    @include orange-font-styling--text();
    @include orange-font-styling-hovered();

    padding-bottom: 1rem;
  }

  &__card-content-info-list-item {
    min-height: 30px !important;
    height: auto !important;
    font-family: $font-primary;
    font-size: $font-size-secondary;
  }

  &__card-content-info-macro {
    display: flex;
    justify-content: space-between;

    & > * {
      background: rgba(255, 255, 255, 0.07);;
      border: 1px solid rgba(255, 255, 255, 0.12);
      border-radius: 20px;
      padding: 2rem;
      white-space: pre-wrap;
    }
  }

  &__card-content-info-macro-text {
    width: 45%;
    font-size: $font-size-primary;

    @media only screen and (max-width: $bp-small) {
      width: 55%;
    }
  }

  &__card-content-info-macro-description {
    width: 40%;
    font-size: $font-size-primary;

    @media only screen and (max-width: $bp-small) {
      width: 45%;
    }
  }

  ::ng-deep .mat-tab-label, .mat-tab-link, .mat-card-title {
    font-size: $font-size-primary;
  }

}
