@import "src/sass/utils/variables";
@import "src/sass/utils/mixins";

.navigation {
  position: absolute;
  width: 100%;
  bottom: -49px;

  &__inner {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    z-index: 100;
    align-items: center;
  }

  &__content {
    font-size: $font-size-primary;
    color: $color-text-primary;
    justify-self: flex-end;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  &__list-item {
    padding: 0 5rem;
  }

  &__link {
    font-weight: 400;
    text-decoration: none;
    @include orange-font-styling;

    &:hover {
      text-shadow: 0 -1px 21px #FFF;
    }

    &--active {
      -webkit-text-stroke: 1px rgba(228,130,3,1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(228,130,3,1);
      font-weight: 700;
      filter: none;
      text-shadow: 0 -1px 21px #FFF;
    }
  }
}
