@import "src/sass/utils/variables";
@import "src/sass/utils/mixins";

.navigation {
  position: absolute;
  width: 100%;
  bottom: -35px;

  @media only screen and (max-width: $bp-large) {
    bottom: -10px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    z-index: 100;
    align-items: center;
  }

  &__content {
    font-size: $font-size-primary;
    justify-self: flex-end;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  &__list-item {
    padding: 0 5rem;
  }

  &__link {
    text-decoration: none;
    @include orange-font-styling--text();

    &:hover {
      @include orange-font-styling-hovered;
    }

    &--active {
      @include orange-font-styling-hovered;
      font-weight: 700;
    }
  }

  &__logo-wrapper {
    @media only screen and (max-width: $bp-small) {
     display: none;
    }
  }
}
