<div class="navigation">
  <div class="shell">
    <div class="navigation__inner">
      <app-website-logo></app-website-logo>

      <section class="navigation__content">
        <ul class="navigation__list">
          <li class="navigation__list-item">
            <a class="navigation__link navigation__link--active" [routerLink]="'/'">Home</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link" [routerLink]="'/guides'">Guides</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link" [routerLink]="'/'">Forum</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
