@import "utils/mixins";

.specs {
  border: 5px solid;
  border-image: url('/assets/img/border-form-controls.png') 3 stretch;
  background-color: rgba(0,0,0,.7);
  position: relative;
  width: 60%;
  min-height: 100rem;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    padding: 0 0 3rem 0;
  }

  &__classicon-block {
    position: absolute;
    width: 8rem;
    height: 8rem;
    left: -4rem;
    top: -4rem;

    &::before {
      content: '';
      position: absolute;
      width: 8rem;
      height: 8rem;
      border: 22px solid;
      border-image: url('/assets/img/border-test.png') 26 stretch;
    }
  }

  &__classicon {
    width: 88%;
    height: 88%;
    border-radius: 43%;
    position: absolute;
    left: 7px;
    top: 3px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex: 1;

    & > * {
      flex: 1;
    }
  }
}

