@import "src/sass/utils/variables";

.specs-menu {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  color: white;

  &__spec-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    width: 20%;
    padding: 2rem 0;
    border-radius: 5rem;

    &--active {
      box-shadow: 0 0 17px white, inset 0 0 29px white;
      -moz-box-shadow: 0 0 17px white, inset 0 0 29px white;
      -webkit-box-shadow: 0 0 17px white, inset 0 0 29px white;
    }
  }

  &__spec-icon-block {
    text-align: center;

  }

  &__spec-img {
    width: 4rem;
    height: 4rem;
  }

  &__spec-name {
    padding-top: 2rem;
    font-size: $font-size-primary;
  }
}
