.guides-menu {
  display: flex;
  justify-content: space-around;


  &__img-wrapper {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  &__menu-wrapper {
    /*border-bottom: 12px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-image: url("/assets/img/metal-frame-border-image.png") 25 repeat;
    border-radius: 20%;
    flex: 1;*/
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  &__menu-item-img-wrapper{
    width: 50%;
  }

  &__menu-item-img {
    width: 100%;

    border-bottom: 12px solid transparent;
   border-image: url("/assets/img/metal-frame-border-image.png") 25 repeat;
  }

}

.class-data {
  display: flex;
  justify-content: space-between;
}
.class-img {
  img {
    border-radius: 50%;

  }
}
