<section class="classes-data-wrapper">
  <div class="class-data" *ngFor="let classData of classesData">
    <a [routerLink]="['/guides', classData.name.toLowerCase()]">{{ classData.name }}</a>
    <ul class="class-data__specs">
      <li *ngFor="let classSpec of classData.specs | keyvalue"  style="cursor: pointer">
        <a [routerLink]="['/guides', classData.name.toLowerCase(), formatRouteParam(classSpec.key.toString())]">
        <span><img src="{{ classSpec.value }}" alt=""></span>
        {{ classSpec.key }}
        </a>
      </li>
    </ul>
  </div>
</section>
