<section class="guides-menu">
  <div class="guides-menu__img-wrapper">
    <img src="../assets/img/alliance-banner.png" alt="">
  </div>
  <section class="guides-menu__menu-wrapper">
    <div class="guides-menu__menu-item" *ngFor="let classData of classesData">
     <div class="guides-menu__menu-item-img-wrapper">
        <img [src]="'../assets/img/' + classData.name.toLowerCase() + '-logo.png'" alt="" class="guides-menu__menu-item-img">
     </div>
      <a [routerLink]="['/guides', classData.name.toLowerCase()]"  >{{ classData.name }}</a>
      <!--<ul class="class-data__specs">
        <li *ngFor="let classSpec of classData.specs | keyvalue"  style="cursor: pointer">
          <a [routerLink]="['/guides', classData.name.toLowerCase(), formatRouteParam(classSpec.key.toString())]">
          <span><img src="{{ classSpec.value }}" alt=""></span>
          {{ classSpec.key }}
          </a>
        </li>
      </ul>-->
    </div>
    <div>
      <a [routerLink]="['/profile/new-guide']">Add new guide</a>
    </div>
    <div>
      <a (click)="logout()">Logout</a>
    </div>
  </section>
  <div class="guides-menu__img-wrapper">
    <img src="../assets/img/horde-banner.png" alt="">
  </div>
</section>
