@import "src/sass/utils/mixins";

.specs {
  border: 5px solid;
  border-image: url('/assets/img/border-form-controls.png') 3 stretch;
  background-color: rgba(0,0,0,.7);
  position: relative;
  width: 80%;
  min-height: 60rem;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    padding: 0 0 3rem 0;
  }

  &__classicon-block {
    position: absolute;
    width: 6rem;
    height: 6rem;
    left: -4rem;
    top: -4rem;

    &::before {
      content: "";
      position: absolute;
      width: 6rem;
      height: 6rem;
      border: 12px solid;
      border-image: url('/assets/img/border-test.png') 27 stretch;
    }
  }

  &__classicon {
    width: 93%;
    height: 91%;
    border-radius: 31%;
    position: absolute;
    left: 2px;
    top: 2px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;

    & > * {
      flex: 1;
    }
  }
}

