@import "src/sass/utils/mixins";
@import "src/sass/utils/variables";

.specs {
  border: 5px solid;
  border-image: url('/assets/img/border-form-controls.png') 3 stretch;
  background-color: rgba(0, 0, 0, .7);
  position: relative;
  width: 80%;
  min-height: 60rem;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-large) {
    border: 3px solid;
    border-image: url('/assets/img/border-form-controls.png') 3 stretch;
    width: 90%;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
  }

  &__header {
    text-align: center;
    padding: 0 0 3rem 0;
  }

  &__classicon-block {
    position: absolute;
    width: 6rem;
    height: 6rem;
    left: -4rem;
    top: -4rem;

    &::before {
      content: "";
      position: absolute;
      width: 6rem;
      height: 6rem;
      border: 12px solid;
      border-image: url('/assets/img/border-test.png') 27 stretch;

      @media only screen and (max-width: $bp-large) {
        width: 5rem;
        height: 5rem;
      }
    }

    @media only screen and (max-width: $bp-large) {
      width: 5rem;
      height: 5rem;
      left: -3rem;
      top: -2rem;
    }
  }

  &__classicon {
    width: 93%;
    height: 91%;
    border-radius: 31%;
    position: absolute;
    left: 2px;
    top: 2px;

    @media only screen and (max-width: $bp-large) {
      width: 88%;
      height: 78%;
      border-radius: 46%;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    & > * {
      flex: 1;
    }
  }
}

