<header class="header">
  <div class="header__bg"></div>
  <div class="header__content">
    <div *ngIf="!isAuthenticated" class="header__text-wrapper">
      <h2 class="heading-2 header__text-item">
        <a [routerLink]="'/login'" class="header__link">Login</a>
      </h2>
      <h2 class="heading-2 header__text-item">
        <a [routerLink]="'/signup'" class="header__link">Sign Up</a>
      </h2>
    </div>
    <div *ngIf="isAuthenticated && userAdditionalData" class="header__text-wrapper">
      <h2 class="heading-2 header__text-item">
        <p>{{ userAdditionalData.nickname }}</p>
        <a class="header__link" (click)="onLogout()">Logout</a>
      </h2>
    </div>

    <app-navigation></app-navigation>
  </div>
</header>
