@import "src/sass/utils/mixins";
@import "src/sass/utils/variables";

:host {
  display: flex;
}

.spec-card {
  border: 5px solid;
  border-image: url('/assets/img/border-form-controls.png') 3 stretch;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  animation: rollIn;
  animation-duration: 1s;

  @media only screen and (max-width: $bp-large) {
    border: 3px solid;
    border-image: url('/assets/img/border-form-controls.png') 3 stretch;
  }

  &__header {
    text-align: center;
  }

  &__image {
    width: 3rem;
    height: 3rem;
    opacity: 0.8;
  }

  &__heading {
    @include orange-font-styling--heading;

    @media only screen and (max-width: $bp-large) {
      font-weight: 400;
    }
  }

  &__content {
    font-size: $font-size-secondary;
    color: white;
    padding: 4rem 0;
    text-align: justify;
    flex: 1;
  }

  &__footer {
    @media only screen and (max-width: $bp-medium) {
      width: 50%;
      margin: 0 auto;
    }

    @media only screen and (max-width: $bp-small) {
      width: 80%;
    }
  }
}
