@import "utils/mixins";
@import "utils/variables";

.about-project {
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__info {
    letter-spacing: 3px;
    padding-right: 30rem;
    align-self: stretch;
    flex: 1;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: -4rem;
      filter: brightness(.1);
      background-image: url('/assets/img/welcome-page-info-bg.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    @include orange-font-styling;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 15%;
      height: 100%;
      bottom: -1.5rem;
      left: 0;
      border-bottom: 2px solid #c26103;
    }

  }

  &__text {
    @include orange-font-styling;
    font-size: $font-size-primary;
    padding: 5rem 0 3rem 0;
    text-align: justify;
  }

  &__image-wrapper {
    width: 50%;
    position: relative;
    filter: brightness(.6);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: inset 79px 64px 67px black;
      -moz-box-shadow: inset 79px 64px 67px black;
      -webkit-box-shadow: inset 79px 64px 56px black, inset -79px -64px 40px black;
    }
  }

  &__image {
    width: 100%;
  }
}

.classes-info {
  position: relative;
  padding: 5rem 0;
  background: black;
  min-height: 100rem;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: url("/assets/img/mage-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(.05);
    box-shadow: inset 79px 64px 67px black;
    -moz-box-shadow: inset 79px 64px 67px black;
    -webkit-box-shadow: inset 79px 64px 56px black, inset -79px -64px 40px black;
    z-index: 0;
  }

  &__text {
    @include orange-font-styling;
    text-align: center;
  }

  &__content {
    position: relative;
    padding-top: 5rem;
  }
}

