<section class="lk">
  <section class="hp">
    <div class="hp__content">
      <h1 class="heading-1 heading-1--hp">The Best Class Guides <span>Join Now !</span></h1>
      <div class="hp__links">
        <a routerLink="/login" class="hp__link">Login</a>
        <a routerLink="/signup" class="hp__link">Sign Up</a>
      </div>
      <div class="hp__class-icons">
        <app-character-icon *ngFor="let character of classesData" [characterData]="character"></app-character-icon>
      </div>

      <app-wow-item *ngFor="let item of gems" [itemLink]="item.link" [itemIconLink]="item.icon_link" [itemName]="item.name"></app-wow-item>
    </div>
  </section>
</section>
