<section class="lk">
  <section class="hp">
    <div class="hp__content">
      <h1 class="heading-1 heading-1--hp">The Best Class Guides<br>Join Now !</h1>
      <img src="https://wow.zamimg.com/images/wow/icons/large/classicon_warrior.jpg" alt="">
      <img src="https://wow.zamimg.com/images/wow/icons/large/classicon_priest.jpg" alt="">
      <img src="https://wow.zamimg.com/images/wow/icons/large/classicon_mage.jpg" alt="">
      <img src="https://wow.zamimg.com/images/wow/icons/large/classicon_paladin.jpg" alt="">
      <img src="https://wow.zamimg.com/images/wow/icons/large/classicon_hunter.jpg" alt="">
      <img src="https://wow.zamimg.com/images/wow/icons/large/classicon_druid.jpg" alt="">
      <img src="https://wow.zamimg.com/images/wow/icons/large/classicon_warlock.jpg" alt="">
      <img src="https://wow.zamimg.com/images/wow/icons/large/classicon_deathknight.jpg" alt="">
      <img src="https://wow.zamimg.com/images/wow/icons/large/classicon_shaman.jpg" alt="">
      <img src="https://wow.zamimg.com/images/wow/icons/large/classicon_rogue.jpg" alt="">


      <div class="hp__links">
        <a routerLink="/login" class="hp__link">Login</a>
        <a routerLink="/login" class="hp__link">Sign Up</a>
      </div>
    </div>
  </section>
</section>
