@import "utils/mixins";

.lk {
  height: 100vh;
  background-image: linear-gradient(rgba(38, 38, 38, 0.3), rgba(38, 38, 38, 0.3)), url("../../assets/img/lichking-bg.jpg");
  background-size: cover;
}

.hp {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  &__content {
    text-align: center;
  }

  &__links {
    display: flex;
    justify-content: space-around;
    padding-top: 10rem;
  }

  &__link {
    @include lich-king-font;

    font-size: 3rem;
    text-decoration: none;

    &:hover {
      animation: text-pop-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }
}
