.wow-form-wrapper {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.wow-form {
  font-size: $font-size-primary;
  font-family: $font-secondary;
  display: flex;
  width: 17vw;
  height: 80%;
  justify-content: center;
  flex-direction: column;

  @media only screen and (max-width: $bp-medium) {
    width: 30vw;
  }

  @media only screen and (max-width: $bp-small) {
    width: 40vw;
  }

  @media only screen and (max-width: $bp-small) {
    width: 70vw;
  }

  &__form-group {
    padding: 1.5rem 0;

    > * {
      display: block;
    }

    &:first-child {
      margin-top: auto;
    }

    &:last-child {
      margin-top: auto;
    }

    text-align: center;
  }

  &__control-label {
    @include lk-login-screen-font-style;
    padding-bottom: 0.3rem;
  }

  &__form-control {
    @include lk-login-screen-input-style;
    width: 100%;
  }
}
