<div class="spec-card">
  <div class="spec-card__header">
    <img [src]="spec.icon_link" alt="" class="spec-card__image">
    <h3 class="heading-4 spec-card__heading">{{ spec.name }}</h3>
  </div>

  <div class="spec-card__content">
    <p class="spec-card__text">{{ spec.info }}</p>
  </div>

  <div class="spec-card__footer">
    <app-wow-btn [btnStyleType]="'red'" [btnText]="spec.name + ' Guides'" [btnType]="'text'"
                 [additionalStyles]="specButtonStyles"></app-wow-btn>
  </div>
</div>
