@import "src/sass/utils/mixins";
@import "src/sass/utils/variables";

.about-project {
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__info {
    letter-spacing: 3px;
    padding-right: 20rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
    animation: fadeInLeft;
    animation-duration: 1s;

    @media only screen and (max-width: $bp-large) {
      padding-right: 0;
      text-align: center;
    }

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: -4rem;
      filter: brightness(.4);
      background-image: url('/assets/img/welcome-page-info-bg.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      animation: zoomIn;
      animation-duration: 1s;
    }
  }

  &__heading {
    @include orange-font-styling--heading(700);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 15%;
      height: 100%;
      bottom: -1.5rem;
      left: 0;
      border-bottom: 2px solid #c26103;

      @media only screen and (max-width: $bp-large) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__text {
    @include orange-font-styling--text();
    font-size: $font-size-primary;
    padding: 5rem 0 3rem 0;
    text-align: justify;
  }

  &__image-wrapper {
    width: 50%;
    position: relative;
    filter: brightness(.8);
    animation: fadeInRight;
    animation-duration: 1s;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: inset 79px 64px 67px black;
      -moz-box-shadow: inset 79px 64px 67px black;
      -webkit-box-shadow: inset 79px 64px 56px black, inset -79px -64px 40px black;
    }
  }

  &__image {
    width: 100%;
  }
}

.classes-info {
  position: relative;
  padding: 5rem 0;
  background: black;
  min-height: 100rem;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: url("/assets/img/mage-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: brightness(.2);
    box-shadow: inset 79px 64px 67px black, inset -79px -64px 67px black;
    -moz-box-shadow: inset 79px 64px 67px black, inset -79px -64px 67px black;
    -webkit-box-shadow: inset 79px 64px 67px black, inset -79px -64px 67px black;
    z-index: 0;
  }

  &__text {
    text-align: center;
  }

  &__heading {
    @include orange-font-styling--heading(700);
  }
  &__content {
    position: relative;
    padding-top: 5rem;
  }
}

