@import "src/sass/utils/variables";

.classes-menu {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;

  @media only screen and (max-width: $bp-small) {
    justify-content: space-between;
  }

  &__icon-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @media only screen and (max-width: $bp-small) {
      padding: 3rem;
    }
  }

  &__icon-img {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    border-radius: 35%;
    filter: opacity(.5);

    &--active {
      box-shadow: 6px -1px 56px white, inset -79px -64px 40px white;
      -moz-box-shadow: 6px -1px 56px white, inset -79px -64px 40px white;
      -webkit-box-shadow: 6px -1px 56px white, inset -79px -64px 40px white;
    }
  }

  &__class-name {
    padding-top: 2rem;
    font-size: $font-size-primary;
    font-weight: 700;
    cursor: pointer;
  }

  &__material-icon {
    cursor: pointer;
  }
}
