<div class="classes-menu">
  <div class="classes-menu__icon-block" *ngFor="let classData of classesData$ | async; let i = index"
       (click)="onClassIconClick(classData, i)">
    <img [src]="'../assets/img/' + classData.name.toLowerCase() + '-logo.png'"
         alt="" class="classes-menu__icon-img"
         [ngClass]="{'classes-menu__icon-img--active': i === selectedClass.index}">
    <p class="classes-menu__class-name" [ngStyle]="{color: classData.color}">{{ classData.name }}</p>
    <mat-icon color="primary" class="classes-menu__material-icon"><span>more_horiz</span></mat-icon>
  </div>
</div>
