@import "src/sass/utils/mixins";

.wow-modal {
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;

  &--visible {
    display: flex;
  }

  &--hidden {
    display: none;
  }

  &__content {
    position: relative;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 0;
    border: 7px solid;
    border-image: url('/assets/img/border-form-controls.png') 3 stretch;
    border-radius: 7px;
    width: 40%;
    background-color: rgba(8, 38, 49, 0.6);

    @media only screen and (max-width: $bp-small) {
      width: 90%;
      border: 3px solid;
      border-image: url('/assets/img/border-form-controls.png') 3 stretch;
    }
  }

  &__body {
    > * {
      @include lk-login-screen-font-style;
    }

    padding: 1.5rem;
    font-size: $font-size-primary;
    font-weight: 700;
    text-align: center;
  }

  &__footer {
    padding: 1.5rem;
    color: white;
  }
}
