@import "src/sass/utils/variables";
@import "src/sass/utils/mixins";


.guides-list {
  padding: 15rem 0;
  min-height: 400px;

  &__no-guides-wrapper {
    text-align: center;
  }

  &__no-guides-message {
    @include orange-font-styling--heading();
  }

  &__table-wrapper {
    background-image: url("/assets/img/welcome-page-info-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    z-index: 1;
    width: 70%;
    margin: 0 auto;

    @media only screen and (max-width: $bp-large) {
      width: 90%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .7)
    }
  }

  &__table {
    position: relative;
    z-index: 2;
    background: transparent;
    font-family: $font-primary;
    min-height: 47.5vh;

    .mat-header-cell {
      @include orange-font-styling--heading(400);
      font-size: $font-size-primary;
    }

    .mat-cell {
      color: $color-text-primary;
      font-size: $font-size-secondary;

      @media only screen and (max-width: $bp-small) {
        font-weight: 700;
      }
    }
  }

  &__table-row {
    cursor: pointer;

    &:hover {
      background-color: rgba(99, 99, 99, 0.15);
      outline: none;
    }
  }

  &__search {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: $font-size-primary;
    color: $color-text-primary;
  }

  &__paginator {
    position: relative;
    z-index: 1;
    background-color: #000000;
    font-size: $font-size-tertiary;
    border: 5px solid;
    border-image: url('/assets/img/border-form-controls.png') 3 stretch;
    color: $color-text-primary;

    @media only screen and (max-width: $bp-large) {
      border: 3px solid;
      border-image: url('/assets/img/border-form-controls.png') 3 stretch;
    }

    ::ng-deep  .mat-paginator-range-label {
      margin-left: 0 !important;
    }
  }

  ::ng-deep .mat-paginator-icon {
    @media only screen and (max-width: $bp-large) {
      width: 18px;
    }
  }

  ::ng-deep .mat-select-trigger {
    font-size: $font-size-primary;
  }
}

